@import "tailwindcss";

@theme {
    --color-aqua: #00e7f9;
    --color-folly: #fc004e;

    /* Font utilities */
    --font-figtree: var(--font-figtree);
    --font-urbanist: var(--font-urbanist);
}
